@charset "UTF-8";
/*  common
--------------------------------*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    color: #333333;
    font-size: 20px;
    line-height: 1.615;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.lead{
    font-size: 20px;
    text-align: center;
    padding: 40px 0 60px 0;
}
.catch{
    font-size: 25px;
    font-weight: 700;
    padding: 80px 0 30px 0;
    text-align: center;
}
/* header */
figure{
    padding-top: 20px;
    padding-left: 60px;
    display: block;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-list a:hover{
    color: #333333
}
.gray{
    background-color: #acacac;
    width: 230px;
    height: 70px;
    text-align: center;
    float: right;
    padding: 20px;
}
.orange{
    background-color: #ffa250;
    width: 230px;
    height: 70px;
    text-align: center;
    float: right;
    padding: 20px;
}
/* メインビジュアル */
.main-area{
    height: 500px;
    background:url(../img/main.jpg)no-repeat center center;
    background-size: cover;
    position: relative;
}
.page-title{
    color: #ED6C00;
    font-size: large;
    font-weight: 650;
    position: absolute;
    top: 160px;
    left: 250px;
}
.sub-title{
    color: #ED6C00;
    font-size: xx-large;
    font-weight: 700;
    position: absolute;
    top: 200px;
    left: 250px;
    line-height: 1.1;
}
/* メインビジュアル内ボタン */
.btn1{
    /* display: block; */
    width: 300px;
    height: 65px;
    font-size: 23px;
    font-weight: 700;
    background-color:#ffa250;
    border-radius: 10px;
    border-bottom: 5px solid #e4711f;
    color: #ffffff;
    text-align: center;
    padding: 13px 32px;
    position: absolute;
    top: 400px;
    right: 50px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.btn1:hover {
    background: chocolate;
    color: #acacac;
}
/* 確認する */
.btn:hover {
    background: chocolate;
}
/* コンセプトエリア */
.concept-area{
    background-color: #F8F8F8;
    padding: 80px 60px 50px 60px;
}
.concept-block{
    display: flex;
    justify-content: space-between;
}
/* 枠が重ならないように */
.concept-block section{
    width: 32%;
}

/* スクールエリア */
.school{
    background-color: #ffffff;
    background-image: linear-gradient(-180deg,#FFF0E2 50%,transparent 50%);
    background-size: 5px 5px;
    padding: 80px 60px 80px 60px;
    /* position: relative; */
}
.title2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.school-area{
    display: flex;
    justify-content: space-between;
    padding: 60px 50px 80px 50px;
}
/* ボックスが重ならないようにしたい */
/* .school-block section{
    width: 18%;
} */
.school-block{
    width: 18%;
    /* width: 170px; */
    background-color: #fddabe;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}
.school-box{
    height: 100px;
    text-align: center;
    background-color: #ececec;
    margin: 15px 5px;
    padding: 10px;
}
.arrow-icon{
    left: 8px;
    width: 15px;
    height: 15px;
    border-top: 5px solid rgb(238, 122, 13);
    border-right: 5px solid rgb(238, 122, 13);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* 調整中 */
.school-box p{
    font-size: 15px;
}
h4{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #333333;
}
.btn{
    display: block;
    width: 300px;
    height: 60px;
    /* background-color: #FFAA62; */
    background-color: #ffa250;
    position: relative;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 30px;
    border-radius: 10px;
    border-bottom: 5px solid #e4711f;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    /* text-align: center; */
    /* トランジションの設定 */
    transition-property: background-color opacity;
    transition-duration: 1s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
    /* opacity: 1; */
}
.btn-inner {
    display: flex;
    justify-content: space-between;
    /* height: 45px; */
}
.btn-inner img{
    position: absolute;
    top: 25px;
    right: 45px;
    transition-property: right;
    transition-duration: 0.6s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    background-color: chocolate;
}
.btn:hover .btn-inner img{
    right: 40px;
}
/* 在校生卒業生の声エリア */
.voice-area{
    background-color: #FFF0E2;
    background-image:radial-gradient(#ffdec3 20%, transparent 20%) ;
    background-size: 10px 10px;
    background-position: 0 0 10px 10px;
    padding: 64px 0;
}
.content-item img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.content-wrap-1, .content-wrap-2{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    padding: 50px 50px;
}
.content-wrap-1{
    /* margin-bottom: 32px; */
}
.content-wrap-2{
    flex-direction: row-reverse;
}
.content-box{
    width: 650px;
    background-color: #fff5e9;
    padding: 30px;
}
.text01{
    font-size: 18px;
}
.text02{
    font-size: 20px;
    font-weight: 600;
}
.text03{
    font-size: px;
}
/* 就職転職エリア */
.work-area{
    background-color: #F8F8F8;
    padding: 80px;
}
.work-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
/* work-box の画像のみ大きくしたい */
.work-box{
    font-size: 20px;
    width: 48%;
    padding: 20px;
}
.work-box a{
    display: block;
}
.work-box a img{
    width: 100%;
}
.link{
    text-align: center;
    padding: 80px auto;
}
/* .work{
    padding: 5px auto;
} */

/* フッター上のエリア */
.closing-area{
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.closing-area .btn{
}
/* フッター */
.footer{
    padding: 40px 0;
}
small{
    display: block;
    font-size: 13px;
    text-align: center;
}